name: Build static FFmpeg

on: [push, pull_request]

jobs:
  windows:
    name: Windows build (msys2)
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        sys: [ MINGW64 ]

    steps:
      - name: Setup msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.sys}}
          update: true
          install: >-
            curl
            make
          pacboy: >-
            toolchain:p
            cmake:p

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download FFmpeg
        run: |
          curl -L -o n6.1.1.tar.gz https://github.com/FFmpeg/FFmpeg/archive/refs/tags/n6.1.1.tar.gz
          tar -xf n6.1.1.tar.gz
          ls FFmpeg-n6.1.1/
        shell: msys2 {0}
